soap-exp/jaxb-client/src/main/resources/movie.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://asoleite.pt/movie-web-service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://asoleite.pt/movie-web-service" targetNamespace="http://asoleite.pt/movie-web-service">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://asoleite.pt/movie-web-service">

    <xs:element name="getMovieRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getMovieResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="movie" type="tns:movie"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="movie">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="year" type="xs:string"/>
            <xs:element name="genre" type="xs:string"/>
            <xs:element name="synopsis" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getMovieResponse">
    <wsdl:part element="tns:getMovieResponse" name="getMovieResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMovieRequest">
    <wsdl:part element="tns:getMovieRequest" name="getMovieRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ContactPort">
    <wsdl:operation name="getMovie">
      <wsdl:input message="tns:getMovieRequest" name="getMovieRequest">
    </wsdl:input>
      <wsdl:output message="tns:getMovieResponse" name="getMovieResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ContactPortSoap11" type="tns:ContactPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getMovie">
      <soap:operation soapAction=""/>
      <wsdl:input name="getMovieRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMovieResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContactPortService">
    <wsdl:port binding="tns:ContactPortSoap11" name="ContactPortSoap11">
      <soap:address location="http://localhost:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>